@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-xs: 26.5625rem;
  --breakpoint-2xl: 90rem;

  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-250: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);

  --color-primary: oklch(0.7661 0.1213 178.04);
  --color-primary-light: oklch(94.118% 0.05361 181.923);

  --spacing-main: clamp(var(--breakpoint-xs), 40cqi, var(--breakpoint-sm));

  --animate-swaying: 1.5s steps(1) 0.5s infinite running swaying;
  @keyframes swaying {
    0% {
      rotate: -1deg;
    }
    50% {
      rotate: 1deg;
    }
    100% {
      rotate: -1deg;
    }
  }
  --animate-pitter-patter: 1s steps(1) pitter-patter;
  @keyframes pitter-patter {
    0% {
      translate: 0 40%;
      rotate: -8deg;
    }
    25% {
      translate: -10% 30%;
      rotate: 8deg;
    }
    50% {
      translate: 0 20%;
      rotate: -8deg;
    }
    75% {
      translate: 10% 10%;
      rotate: 8deg;
    }
    100% {
      translate: 0 0;
      rotate: 0deg;
    }
  }
}

@layer base {
  @media not (forced-colors: active) {
    * {
      @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-400;
    }
  }
}

@layer utility {
  .prose {
    @apply max-w-none leading-loose;
    --tw-prose-links: var(--color-primary);

    * {
      @apply first:mt-0 last:mb-0;
    }
  }
}
