---
import 'luminous-lightbox/dist/luminous-basic.css'

import Lightbox from '@/components/Lightbox.astro'
import curryPanShop from '@/images/gallery/curry-pan-shop.png'
import hero from '@/images/hero.jpg'
import logo from '@/images/logo.svg'
import Layout from '@/layouts/Layout.astro'
import images from '@/libs/sds'
---

<Layout title="ギャラリー">
  <div class="prose prose-h2:mt-20 prose-h3:mt-15">
    <h1>ギャラリー</h1>
    <p>
      本イベントを開催するにあたり、下記の方々にお力添えいただきました。この場を借りて感謝を申し上げます。
    </p>
    <p>
      作成者の皆さんのご厚意により掲載しております。画像の転載や二次利用、AI学習などを固く禁じます。
    </p>

    <h2>ロゴデザイン</h2>
    <p><a href="https://side.misskey.productions/@42239">42239</a>さん</p>
    <Lightbox image={logo} alt="ロゴ" group="logo" />

    <h2>キービジュアルイラスト</h2>
    <p>
      <a href="https://side.misskey.productions/@76_game_">鳴瀬ジュン</a>さん
    </p>
    <Lightbox image={hero} alt="キービジュアルイラスト" group="hero" />

    <h2>ミニキャライラスト</h2>
    <p><a href="https://side.misskey.productions/@miyase387">みやせ</a>さん</p>
    <ul
      class="not-prose grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] gap-4">
      {
        images.map((image) => (
          <li>
            <Lightbox image={image} group="sd" />
          </li>
        ))
      }
    </ul>

    <h2>ピクリエマップ装飾</h2>
    <p>
      <a href="https://side.misskey.productions/@Ral ">ラル</a>さん
    </p>
    <Lightbox image={curryPanShop} alt="カレーパン屋台" group="map" />
  </div>
</Layout>
