---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'
import { tv } from 'tailwind-variants'
import type { VariantProps } from 'tailwind-variants'

export const buttonVariants = tv({
  base: 'inline-flex max-w-full cursor-pointer items-center justify-center gap-x-2 rounded-full border border-transparent no-underline aria-disabled:pointer-events-none',
  variants: {
    level: {
      primary:
        'bg-primary border-primary text-white aria-disabled:border-gray-400 aria-disabled:bg-gray-400',
      secondary:
        'text-primary border-current bg-white aria-disabled:bg-gray-50 aria-disabled:text-gray-400',
    },
    size: {
      md: 'px-4 py-1.5',
      lg: 'px-6 py-3 text-lg',
    },
  },
  defaultVariants: {
    level: 'primary',
    size: 'md',
  },
})

export type Props = VariantProps<typeof buttonVariants> & HTMLAttributes<'a'>

const { level, size, class: className, ...props } = Astro.props
---

<a class={twMerge(buttonVariants({ level, size }), className)} {...props}>
  <slot />
</a>
