---
import { Image, getImage } from 'astro:assets'

import { type ImageMetadata } from 'astro'

export interface Props {
  image: ImageMetadata
  alt?: string
  group?: string
}

const { image, alt, group } = Astro.props
let href = image.src
if (image.format !== 'svg') {
  const orig = await getImage({ src: image, format: 'webp' })
  if (orig) {
    href = orig.src
  }
}
---

<a href={href} data-lightbox={group}>
  <Image src={image} alt={alt ?? ''} format="webp" />
</a>

<script>
  import { LuminousGallery } from 'luminous-lightbox'

  const galleries: Record<string, HTMLElement[]> = {}
  document
    .querySelectorAll<HTMLElement>('[data-lightbox]')
    .forEach((element) => {
      const group = element.dataset.lightbox
      if (!group) return

      if (group in galleries) {
        galleries[group].push(element)
      } else {
        galleries[group] = [element]
      }
    })

  const scrollCenter = (element: HTMLElement) => {
    element.scrollIntoView({
      behavior: 'instant',
      block: 'center',
      inline: 'center',
    })
  }

  Object.values(galleries).forEach((elements) => {
    new LuminousGallery(
      elements,
      {},
      {
        onOpen: () => {
          const img = document.querySelector<HTMLImageElement>(
            '.lum-lightbox.lum-open .lum-img'
          )
          if (!img) return

          if (img.complete) {
            scrollCenter(img)
          } else {
            img.addEventListener('load', () => scrollCenter(img), {
              once: true,
            })
          }
        },
      }
    )
  })
</script>

<style is:global>
  .lum-lightbox.lum-open {
    @apply z-50;
  }
  .lum-img {
    @apply mx-auto;
  }
  @media (max-width: 460px) {
    .lum-lightbox-inner img {
      @apply max-h-[200svh] max-w-[200vw];
    }
  }
</style>
